:root {
  --mainColor: #008af8;
  --hoverColor: #EE626b;
  --fontColor: #fff;
  --supColor: #7a7a7a;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* start global style */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 990px) {
  .main .head a {
    display: none;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* end global style */

/* Start Header */
header {
  background-size: cover;
  padding: 15px 0;
  width: 100%;
  position: absolute;
  z-index: 6;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .container img {
  max-width: 100%;
  width: 140px;
}

header .container .links {
  transition-duration: 0.5s;
}

header .container .links .lines {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30px;
  gap: 8px;
  cursor: pointer;
  transition-duration: .3s;
  display: none;
}

@media (max-width:768px) {
  header .container .links .lines {
    display: flex;
  }
}

header .container .links .lines span {
  width: 20px;
  background-color: white;
  height: 2px;
  transition-duration: 0.5s;
  position: relative;
  width: 100%;
}

header .container .links .lines span:nth-of-type(1),
header .container .links .lines span:nth-of-type(3) {
  width: 75%;
}

header .container .links:hover span:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 20% -200%;
  width: 30px;
}

header .container .links:hover span:nth-of-type(2) {
  display: none;
}

header .container .links:hover span:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 20% 200%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 30px;
}

header .container .links ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;

}

@media (max-width:768px) {
  header .container .links ul {
    flex-direction: column;
    position: absolute;
    top: -280px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 10px 0;
    text-align: center;
    gap: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: fit-content;
    z-index: 1;
    transition-duration: .5s;
  }

  header .container .links:hover ul {
    top: 50px;
  }
}

header .container .links ul li {
  padding: 10px 15px;
  transition-duration: .3s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 300;
  font-size: 15px;
}

@media (max-width:768px) {
  header .container .links ul li {
    border-bottom: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 15px 0;
  }
}

header .container .links ul li:nth-of-type(3) {
  background-color: rgb(255 255 255 / 15%);
}

@media (max-width:768px) {
  header .container .links ul li:nth-of-type(1) {
    color: var(--hoverColor);
  }
}

header .container .links ul li:last-of-type {
  background-color: var(--hoverColor);
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width:768px) {
  header .container .links ul li:last-of-type {
    background-color: transparent;
    border-bottom: none;
  }
}

header .container .links ul li:not(:last-of-type):hover {
  background-color: rgb(255 255 255 / 15%);
}

@media (max-width: 768px) {
  header .container .links ul li:not(:last-of-type):hover {
    background-color: none;
  }
}

header .container .links ul li a {
  text-decoration: none;
  color: #fff;
}

@media (max-width:768px) {
  header .container .links ul li a {
    color: black;
  }

  header .container .links ul li:hover a {
    color: var(--hoverColor);
  }
}

/* End Header */

/* Start landing */
.landing {
  background-image: url(../images/page-heading-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  padding-top: 65px;
  padding-bottom: 15px;
  border-bottom-left-radius: 155px;
  border-bottom-right-radius: 155px;
}

.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing .container .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  text-align: center;
}

.landing .container .main h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}

@media (max-width:768px) {
  .landing .container .main h1 {
    font-size: 30px;
  }
}

.landing .container .main p {
  color: white;
  font-weight: 400;
  font-size: 15px;
}

/* End landing */

.contact {
  position: relative;
      margin: 100px 0;
}

.contact .container .main {
    height: 100%;
      position: relative;
      z-index: 2;
      display: grid;
      flex-wrap: wrap;
      align-items: center;
      /* justify-content: space-between; */
      /* gap: 25px; */
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width:1200px) {
  .contact .container .main {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
@media (max-width:990px) {
  .contact .container .main {
    flex-direction: column;
  }
}

.contact .container .main .text {
  background-color: #f7f7f7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 60px;
  margin-top: 50px;
  max-width: 100%;
      /* width: 40%;
        flex: 0 0 auto; */
        height: fit-content;
  margin-right: 70px;
}

@media (max-width:990px) {
  .contact .container .main .text {
      margin-right: 0px;
  }
}

@media (max-width:990px) {
  .contact .container .main .text {
    max-width: 100%;
  }
}

.contact .container .main .text > span {
  color: var(--hoverColor);
  font-weight: 800;
  text-transform: uppercase;
}

.contact .container .main .text h2 {
  font-size: 36px;
  line-height: 1.3;
      margin-bottom: 55px;
}

@media (max-width:990px) {
  .contact .container .main .text h2 {
    max-width: 100%;
  }
}

@media (max-width:425px) {
  .contact .container .main .text h2 {
    font-size: 24px;
  }
}

.contact .container .main .text.two h2 {
  max-width: 100%;
}

.contact .container .main .text h2 span {
  color: #0071f8;
}
.contact .container .main .text p {
  line-height: 2;
  font-size: 14px;
  color: #4a4a4a;
}
.contact .container .main .text ul {
  padding: 0;
  margin-top: 50px;
}
.contact .container .main .text ul li:not(:last-child) {
  margin-bottom: 25px;
}

.contact .container .main .text ul h4{
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.contact .container .main .text ul p{
  margin-top: 0px;
  text-transform: capitalize;
  font-size: 15px;
  color: #aaa;
}
.contact .container .main .text ul p:not(:last-child) {
  margin-bottom: 0;
}

@media (max-width:990px) {
  .contact .container .main .two {
    margin-left: 0;
    margin-top: 50px;
  }
}
.contact .container .main .two img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.contact .container form {
  margin-top: 35px;
}
.contact .container  form input , 
.contact .container   textarea{
  border: 1px solid #ddd;
  outline: none;
  background-color: #f7f7f7;
  padding: 13px 0 13px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: calc(100% - 20px);
  margin-bottom: 30px;
  resize: none;
}
.contact .container form {
  display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 0 15px ;
}
@media (max-width:990px) {
  .contact .container form  {
    display: block;
  }
}
.contact .container form input::placeholder {
  font-size: 14px;
}
.contact .container  button {
    width: fit-content;
    height: 100%;
    background-color: var(--hoverColor);
    top: 0px;
    right: 0px;
    padding: 15px 20px;
    border-radius: 25px;
    transition-duration: .3s;
    cursor: pointer;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

@media (max-width:990px) {
.contact .container form button {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
}

.contact .container form button:hover {
  background-color: var(--mainColor);
}
/* Start Footer */
footer {
  background-image: url(../images/page-heading-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  border-top-right-radius: 155px;
  border-top-left-radius: 155px;
  min-height: 150px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 25px;
  font-size: 15px;
  text-align: center;
  padding: 0px 30px 0 30px;
}

@media (max-width:320px) {
  footer .container {
    padding-top: 50px;
  }
}

/* End Footer */