:root {
  --mainColor: #008af8;
  --hoverColor: #EE626b;
  --fontColor: #fff;
  --supColor: #7a7a7a;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* start global style */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 990px) {
  .main .head a {
    display: none;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* end global style */

/* Start Header */
header {
  background-size: cover;
  padding: 15px 0;
  width: 100%;
  position: absolute;
  z-index: 6;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .container img {
  max-width: 100%;
  width: 140px;
}

header .container .links {
  transition-duration: 0.5s;
}

header .container .links .lines {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30px;
  gap: 8px;
  cursor: pointer;
  transition-duration: .3s;
  display: none;
}

@media (max-width:768px) {
  header .container .links .lines {
    display: flex;
  }
}

header .container .links .lines span {
  width: 20px;
  background-color: white;
  height: 2px;
  transition-duration: 0.5s;
  position: relative;
  width: 100%;
}

header .container .links .lines span:nth-of-type(1),
header .container .links .lines span:nth-of-type(3) {
  width: 75%;
}

header .container .links:hover span:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 20% -200%;
  width: 30px;
}

header .container .links:hover span:nth-of-type(2) {
  display: none;
}

header .container .links:hover span:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 20% 200%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 30px;
}

header .container .links ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;

}

@media (max-width:768px) {
  header .container .links ul {
    flex-direction: column;
    position: absolute;
    top: -280px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 10px 0;
    text-align: center;
    gap: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: fit-content;
    z-index: 1;
    transition-duration: .5s;
  }

  header .container .links:hover ul {
    top: 50px;
  }
}

header .container .links ul li {
  padding: 10px 15px;
  transition-duration: .3s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 300;
  font-size: 15px;
}

@media (max-width:768px) {
  header .container .links ul li {
    border-bottom: 1px solid #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 15px 0;
  }
}

header .container .links ul li:nth-of-type(2) {
  background-color: rgb(255 255 255 / 15%);
}

@media (max-width:768px) {
  header .container .links ul li:nth-of-type(1) {
    color: var(--hoverColor);
  }
}

header .container .links ul li:last-of-type {
  background-color: var(--hoverColor);
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width:768px) {
  header .container .links ul li:last-of-type {
    background-color: transparent;
    border-bottom: none;
  }
}

header .container .links ul li:not(:last-of-type):hover {
  background-color: rgb(255 255 255 / 15%);
}

@media (max-width: 768px) {
  header .container .links ul li:not(:last-of-type):hover {
    background-color: none;
  }
}

header .container .links ul li a {
  text-decoration: none;
  color: #fff;
}

@media (max-width:768px) {
  header .container .links ul li a {
    color: black;
  }

  header .container .links ul li:hover a {
    color: var(--hoverColor);
  }
}

/* End Header */

/* Start landing */
.landing {
  background-image: url(../images/page-heading-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
padding-top: 65px;
  padding-bottom: 15px;
  border-bottom-left-radius: 155px;
  border-bottom-right-radius: 155px;
}
.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .container .main {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
}
.landing .container .main h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
      font-weight: 700;
      text-align: center;
}
@media (max-width:320px) {
  .landing .container .main h1 {
    font-size: 35px;
  }
}
.landing .container .main p {
  color: white;
      font-weight: 400;
      font-size: 15px;
}

/* Start items  */
.games {
  padding-top: 80px;
}
.games .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.games .nav ul a {
      background-color: #eee;
      padding: 8px 14px;
      color: black;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      transition-duration: .3s;
}
.games .nav ul a:hover {
  color: var(--hoverColor);
}
.games .nav ul a:first-of-type {
  background-color: var(--hoverColor);
  color: #fff;
}
/* End items  */

/* Start games */
.games .main {
  margin-top: 60px;
}
.games .main .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 100px;
}

.games .main .items .item {
  background-color: #eee;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: relative;
  width: 100%;
  height: 100%;
}
.games .main .items .item h3 {
  color: black;
}
.games .main .items .item:hover h3 {
  color: #0071f8;
}

.games .main .items .item .price {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.games .main .items .item .price del {
  font-size: 13px;
  margin-bottom: 1px;
}

.games .main .items .item .price span {
  font-weight: 600;
}

.games .main .items .item img {
  width: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.games .main .items .item .textt {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.games .main .items .item .text span {
  color: #777;
}

.games .main .items .item .text h3 {
  margin: 10px 0;
  text-transform: capitalize;
  font-size: 20px;
  transition-duration: .3s;
  font-weight: 700;
}

.games .main .items .item .textt i {
  color: #fff;
  background-color: var(--hoverColor);
  padding: 14px;
  font-size: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition-duration: .3s;
}

.games .main .items .item:hover i {
  background-color: #0071f8;
}
.games .pages-num ul{
padding: 0;
display: flex;
justify-content: center;
gap: 10px;
}
.games .pages-num ul a {
  display: block;
  padding: 10px 15px;
    color: black;
      transition-duration: .3s;
      background-color: #eee;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      font-weight: 600;
}
.games .pages-num ul a:nth-of-type(3) {
    background-color: #0071f8;
      color: #fff;
}
.games .pages-num ul a:hover {
  background-color: #0071f8;
  color: #fff;
}
.games .pages-num ul a li i {
  font-size: 11px;
}
/* End games */


/* Start Footer */
footer {
  background-image: url(../images/page-heading-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  border-top-right-radius: 155px;
  border-top-left-radius: 155px;
  min-height: 150px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 25px;
  font-size: 15px;
  text-align: center;
  padding: 0px 30px 0 30px;
}

@media (max-width:320px) {
  footer .container {
    padding-top: 50px;
  }
}
/* End Footer */